@charset "utf-8";
/* CSS Document */

#container{background:#f4f1e7;}

#header{width:100%;height:35px;background:#2e3c50;padding:10px 0px;float:left; text-align:center;}
#header #return{width:20%;height:100%;float:left;}
#header #xq{width:20%;height:100%;float:left;font-size:1em;background:url(../images/wz.png) center center no-repeat;}
#header a{display:block;width:100%;height:100%;line-height:35px;text-align:center;}
#header #return a{background:url(../images/return.png) center center no-repeat;}
#header #title{float:left;width:60%;height:100%;text-align:center;color:#fff;font-size:1.1875em;line-height:35px;}

#hover{clear:both;margin:0px 10px;}
#hover #cont{float:left;width:100%;border:1px solid #c4c2bc;}
#hover #cont #title{text-align:center;color:#fff;height:40px;line-height:40px;background:#c4c2bc;}
#hover #cont #list{float:left;width:100%;background:#FFF;border-left:5px solid #FFF;border-right:5px solid #FFF; box-sizing:border-box;}
#hover dl{float:left;width:100%;background:#f0f0f0;margin-top:5px;border:1px solid #c8c8c8; box-sizing:border-box;}
#hover dt{float:left;width:40%;border-right:20px solid transparent;box-sizing: border-box;}
#hover dt img{width:100%;}
#hover dd{float:left;width:60%;}
#hover li{font-size:0.75em;line-height:25px;color:#565148;}
#hover ul{float:left;width:100%;}
#hover .title{font-weight:bold;font-size:0.875em;;padding-top:5px;}
#hover .title a{color:#db742f;font-weight:normal;}
#hover .bor{border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:5px;}
#hover .bor img{margin-right:5px;}
#hover li img{vertical-align:top;}
#hover #btn{clear:both;float:left;width:100%;margin-top:5px;}
#hover #btn p{width:50%;text-align:center;float:left;}
#hover #btn a{padding:6px 0px;display:block;background:#f0f0f0;border:1px solid;border-radius:5px;margin-right:4px;box-sizing:border-box;}
#hover #btn img{margin-right:5px;vertical-align:top;margin-top:4px;}
#hover #btn .phone a{color:#c9af9f;}
#hover #btn .zzb a{color:#8589a7;}
#hover #btn .zzb img{margin-left:5px;margin-right:0px;margin-top:6px;}
#gd{padding:15px 0px;width:100%;background:#fff;float:left;text-align:center;}
#gd a{ display:block;color:#717699;}
#gd img{margin-left:5px; vertical-align:top;margin-top:7px;}
